.hide-searchbox {
    height: 0;
    overflow: hidden;
    transition: all 0.5s;
}

.show-searchboxfull {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 0.5s;
}

.show-searchbox {
    height: 30vh;
    overflow-x: hidden;
    transition: all 0.5s;
    border-bottom: 1px solid RGB(176, 151, 109);
}

.show-searchboxfull::-webkit-scrollbar {
    width: 3px;
}

.show-searchboxfull::-webkit-scrollbar-thumb {
    background: #b30000;
    border-radius: 10px;
}

.hide-lightbox {
    height: 0;
    overflow: hidden;
    transition: all 0.5s;
}

.show-lightbox {
    background-color: #121212;
    color: #fff;
    /* height: 55vh; */
    width: 100%;
    transition: all 0.5s;
    position: absolute;
    left: 0;
    overflow-y: scroll;
    padding: 0 50px;
}

.show-lightbox::-webkit-scrollbar {
    width: 3px;
}

.show-lightbox::-webkit-scrollbar-thumb {
    background: #b30000;
    border-radius: 10px;
}

.navbar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #121212;
    color: #fff;
    padding: 20px 0;
    transition: padding 0.3s;
    z-index: 100;
}

.navbar-large {
    padding: 20px 0 0;
}

.navbar-small {
    padding: 5px 0 0;
}

.navbar-inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-ul {
    margin-top: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-right: 20px;
}

.nav-link {
    color: white;
    font-size: 14px;
    font-weight: 700;
}

.nav-link:hover {
    color: RGB(176, 151, 109);
    transform: all 0.5s;
    cursor: pointer;
}

.dropdown-menu {
    background: #000;
    width: 200px;
}

.dropdown-li {
    background: none;
}

.nav-user {
    display: flex;
}

.search-menu {
    padding: 50px 0;
}

.nav-search__input {
    width: 70%;
    position: relative;
    left: 15%;
    border: none;
    background: none;
    padding: 10px 0;
    border-bottom: 2px solid RGB(176, 151, 109);
    color: white;
    margin-bottom: -10px;
}

.nav-shopcart {
    color: RGB(176, 151, 109);
    padding: 60px 30px;
}

.nav-burger {
    display: none;
}

.nav-burgercard {
    display: none;
}

.nav-burgercard {
    color: RGB(176, 151, 109);
    padding: 60px 30px;
    width: 100vw;
}

.burger-input {
    width: 100%;
    padding: 20px 10px;
    background-color: #121212;
    border: none;
    color: #fff;
}

.burger-input::placeholder {
    font-family: 'Lato', sans-serif;
}

.nav-burger_ul {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    margin-top: 30px;
}

.burger-user {
    margin-top: 30px;
}

.burger-dropmenu {
    width: 100vw;
}

/* search card */
.search-card__wrapper {
    padding: 0 !important;
    margin-bottom: 20px;
}

.search-card__f {
    position: relative;
    width: 200px;
    height: 300px;
    overflow: hidden;
    object-fit: cover;
    background: #F2F2F2;
    border: none;
    margin: 0 auto;

}

.search-card__body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.searchCard-content__f {
    position: relative;
    width: 200px;
    overflow: hidden;
    object-fit: cover;
    text-align: center;
    padding: 15px 0;
    background-color: #fff;
    background: #F2F2F2;
    margin: 10px auto;
}

.search__add-button {
    color: #fff;
    border: 0;
    cursor: pointer;
    transition: bottom 0.5s ease-out;
    background-color: #000;
    font-weight: 700;
    font-size: 10px;
    padding: 8px 12px;
    border: none;
    letter-spacing: 2px;
}

.search__add-button:hover {
    background-color: #b0976d;
    border: none;
}

.cart-number {
    position: relative;
    right: 6%;
}

@media screen and (min-width: 991px) {

    .show-lightbox {
        display: none;
    }
}

@media screen and (max-width: 992px) {

    .nav-pages {
        display: none;
    }

    .nav-burger {
        display: block;
    }

}

@media screen and (max-width: 350px) {

    .navbar-inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100px;
    }

    .nav-logo {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-user {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 0 0 25px;
    }

    .cart-number {
        /* left: 5px; */
        bottom: 20%;
    }

    .show-lightbox {
        top: 16vh;
    }
}