.notfound-wrapper{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
}

@media (max-width:600px){
  .notfound-image__wrapper{
    width: 80%;
  }
}