.wish-top {
    width: 100%;
    height: 40vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8%;
}

.wish-top__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center
}

.wish-table__wrapper {
    margin: 100px auto;
    border: 2px solid #f2f2f2;
}

.wish-table__title{
    font-weight: 900;
}

.wish-brand__p {
    color: RGB(165, 165, 165);
    margin-top: 20px;
}

.wish-appelation__p {
    color: RGB(176, 151, 109);
    font-size: 20px;
}

.wish-price__p {
    font-size: 20px;
    margin-top: 45px;
}

.quantity-btn__wrapper {
    display: flex;
    margin-top: 35px;

}

.quantity-btn {
    width: 33%;
    padding: 5px 0;
    background-color: #B0976D;
    border: none;
    color: white;
    font-size: 25px;
    text-align: center;
}

.quantity-btn:hover {
    background: #000;
}

.quantity-num {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B0976D;
    color: white;
    font-size: 20px;
}

.wish-price__total {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 43px;
}

.wish-total__p {
    font-size: 20px;
}

.fa-circle-xmark {
    font-size: 2em;
    cursor: pointer;
    color: rgb(232, 19, 19);
}

.fa-circle-xmark:hover {
    color: black;
    transition: all 0.2s;
}

.subtotal-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 20px;
    margin: 50px 0;
}

.subtotal-inner {
    border-bottom: 2px solid #f2f2f2;
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.subtotal-p {
    font-size: 20px;
    font-weight: 700;
}

.payment-btn {
    color: white;
    background-color: #000;
    font-weight: 700;
    font-size: 12px;
    padding: 15px 40px;
    border: none;
    letter-spacing: 2px;
}

.payment-btn:hover {
    background-color: #b0976d;
    border: none;
}

.table {
    margin: 100px auto;
    width: 100%;
    border-collapse: collapse;
}

.table td,
.table th {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
}

.product-title {
    display: none;
    font-size: 25px;
    font-weight: 900;
    margin: 10px 0;
}

.detail-p{
    font-size: 20px;
    font-weight: 500;
    margin-top: 40px;

}

.detail-link{
    text-decoration: none;
    color: #000;
}

.detail-link:hover{
    color: RGB(176, 151, 109);
    transition: all 0.2s;
}


@media screen and (max-width: 1400px) {
    .wish-top {
        padding-top: 10%;
    }
}

@media screen and (max-width: 1100px) {
    .wish-top {
        padding-top: 10%;
    }
}

@media(max-width:800px) {

    .wish-top {
        padding-top: 10%;
        height: 25vh;
    }

    .table thead {
        display: none;
    }

    .table,
    .table tbody,
    .table tr,
    .table td {
        display: block;
        width: 100%;
    }

    .table tr {
        margin: 80px 0;
    }

    .wish-price__p,
    .quantity-btn__wrapper,
    .wish-price__total {
        margin-bottom: 12%;
    }

    .product-title {
        display: block;
    }

    .image-wrapper {
        margin: 0 auto;
        height: 30%;
        width: 30%;
    }

    .subtotal-inner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media screen and (max-width: 567px) {

    .wish-top {
        padding-top: 17%;
    }

}

@media screen and (max-width: 349px) {

    .wish-top {
        margin-top: 25%;
    }
}