.createacc-top {
    width: 100%;
    height: 40vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8%;
}

.createacc-top__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center
}

.createacc-wrapper {
    width: 80%;
    margin: 50px auto 100px auto;
}

.createacc-heading__wrapper {
    width: 55%;
}

.createacc-inputs__wrapper {
    margin-top: 30px;
}

.createacc-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.createacc-input {
    padding: 15px 10px;
    width: 100%;
    border: 1px solid rgb(222, 217, 217);
}

#createacc-select{
    padding: 15px 10px;
    width: 100%;
    border: 1px solid rgb(222, 217, 217);
}

.createacc-comment__input {
    width: 100%;
    padding: 15px 10px 100px;
    border: 1px solid rgb(222, 217, 217);
}

.input-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.createacc-btn {
    font-size: 12px;
    width: 30%;
    margin: 0 auto;
    color: white;
    background-color: #000;
    font-weight: 700;
    padding: 15px 40px;
    border: none;
    letter-spacing: 2px;
}

.createacc-btn:hover {
    background-color: #b0976d;
    transition: all 0.3s;
    border: none;
}

.createacc-error__message{
    color: red;
}

.zip-input{
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .createacc-top {
        padding-top: 13%;
    }

    .createacc-wrapper {
        width: 80%;
    }
}

@media screen and (max-width: 900px) {
   
    .createacc-wrapper {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
   
    .createacc-top{
        padding-top: 15%;
    }
}

@media screen and (max-width: 700px) {
   
    .createacc-top {
        padding-top: 18%;
    }
}

@media screen and (max-width: 550px) {

    .createacc-top {
        padding-top: 22%;
    }
   
    .createacc-btn__wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;        
    }

    .createacc-btn{
        width: 100%;
    }

    .zip-input{
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
   
    .createacc-top {
        padding-top: 30%;
    }
}

@media screen and (max-width: 350px) {
   
    .createacc-top {
        padding-top: 50%;
    }
}