.blog-pages__top {
    width: 100%;
    height: 40vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8%;
}

.blog-pages__wrapper {
    width: 60%;
    margin: 50px auto 100px auto;
}

.blog-pages__link {
    color: black;
    font-size: 50px;
    text-decoration: none;
}

.blog-pages__link:hover {
    color: black;
}

.blog-pages__img {
    margin: 20px 0;
}

.blog-pages-social__wrapper {
    border: 1px solid rgb(234, 231, 231);
    margin: 50px 0;
    text-align: center;
    padding: 10px 0;
}

.blog-pages-social {
    font-size: 1.5em;
    margin: 0 10px;
}

.blog-pages__social-link {
    color: RGB(176, 151, 109);
}

.blog-pages__social-link:hover {
    color: black;
}


@media screen and (max-width: 900px) {

    .blog-pages__wrapper {
        width: 80%;
    }
}

@media screen and (max-width: 700px) {
      .blog-pages__wrapper {
        width: 95%;
    }
    .blog-pages__top{
        padding-top: 15%;
    } 
} 

@media screen and (max-width: 567px) {

    .blog-pages-nav {
        display: none;
    }

     .blog-pages__top {
        padding-top: 25%;
    }

    .blog-pages__wrapper {
        width: 90%;
    }
}

@media screen and (max-width: 349px) {

     .blog-pages__top {
        margin-top: 25%;
    } 

    .blog-pages__link{
        font-size: 2em;
    }
}