* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.lato-font {
    font-family: 'Lato', sans-serif;
}

.playfair-font {
    font-family: 'Playfair Display', serif;
}

.notoserif-font {
    font-family: 'Noto Serif', serif;
}
