img {
    max-width: 100%;
}

.card-wrapper {
    padding: 0 !important;

}

.featured-products__wrapper {
    padding: 150px 0;
    background-color: white
}

.card-f {
    position: relative;
    width: 350px;
    height: 500px;
    overflow: hidden;
    object-fit: cover;
    background: #F2F2F2;
    border: none;
    margin: 0 auto;
}

.card-body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.card-content__f {
    position: relative;
    width: 350px;
    overflow: hidden;
    object-fit: cover;
    text-align: center;
    padding: 15px 0;
    background-color: #fff;
    background: #F2F2F2;
    margin: 20px auto;
}

.card-button {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    border: 0;
    cursor: pointer;
    transition: bottom 0.5s ease-out;
    background-color: #000;
    font-weight: 700;
    font-size: 12px;
    padding: 15px 20px;
    border: none;
    letter-spacing: 2px;
}

.card:hover .card-button {
    bottom: 50%;
}

.card-button:hover {
    background-color: #b0976d;
    transition: all 0.5s;
    border: none;
}

.card-link {
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-weight: 500;
}

.card-link:hover {
    color: RGB(176, 151, 109);
    transition: all 0.6s;
}

.add-button {
    color: white;
    background-color: #000;
    font-weight: 700;
    font-size: 12px;
    padding: 15px 40px;
    border: none;
    letter-spacing: 2px;
    width: 80%;
}

.add-link {
    color: white;
    font-weight: 700;
    font-size: 12px;
    padding: 15px 40px;
    border: none;
    letter-spacing: 2px;
    text-decoration: none;
}

.add-link:hover {
    color: #fff;
}

.add-button:hover {
    background-color: #b0976d;
    transition: all 0.5s;
    border: none;
}

.swiper-button-prev,
.swiper-button-next {
    color: #b0976d;
}


@media screen and (max-width: 1200px) {

    .card-f {
        width: 300px;
        height: 450px;
    }

    .card-content__f {
        width: 300px;
    }

    .add-link{
        width: 100%;
    }
}
