.herosec-wrapper {
    width: 100%;
    height: 100vh;
    margin-top: 5%;
}

.hero-link {
    text-decoration: none;
    color: white;
}

.hero-link:hover {
    color: white;
}

.slider1 {
    width: 100%;
    /* height: 100vh; */
    /* background: url(https://cdn11.bigcommerce.com/s-qbep6rt4nh/images/stencil/original/carousel/15/slide-2-background__86858.jpg?c=2);
    background-repeat: no-repeat;
    background-size: cover; */
    display: flex;
    align-items: center;
    position: relative;
}

.hero-text {
    position: absolute;
    width: 40%;
    top: 30%;
    left: 8%;
    transform: translate(-30%, 0, 0, -8%);
}



.slider2 {
    width: 100%;
    /* height: 100vh; */
    background: url(https://cdn11.bigcommerce.com/s-qbep6rt4nh/images/stencil/original/carousel/9/slide-1-background.jpg?c=2);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.dropdown-toggle::after {
    margin-left: 0.55em;
}

.herosec-btn {
    margin-top: 70px;
    color: white;
    background-color: #000;
    font-weight: 700;
    font-size: 12px;
    padding: 15px 40px;
    border: none;
    letter-spacing: 2px;
}

.herosec-h1 {
    font-size: 60px;
    color: white
}

.herosec-p {
    font-weight: 700;
    color: RGB(176, 151, 109)
}

.herosec-btn:hover {
    background-color: #b0976d;
    transition: all 0.5s;
    border: none;
}

.herosec-first__slide {
    background-image: url(https://cdn11.bigcommerce.com/s-qbep6rt4nh/images/stencil/original/carousel/15/slide-2-background__86858.jpg?c=2);
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 1200px) {

    .hero-text {
        position: absolute;
        top: 25%;
        left: 12%;
        transform: translate(-25%, 0, 0, -12%);
    }
}

@media screen and (max-width: 1137px) {

    .hero-swiper {
        height: 100vh;
    }

    .hero-text {
        position: absolute;
        top: 25%;
    }
}

@media screen and (max-width: 992px) {
    .herosec-p {
        font-size: 12px;
    }

    .herosec-h1 {
        font-size: 45px;
    }

    .hero-text {
        position: absolute;
        top: 35%;
        left: 12%;
        transform: translate(-30%, 0, 0, -8%);
        width: 60%;
    }

    .herosec-btn {
        padding: 10px 30px;
        margin-top: 50px;
        color: white;
        background-color: #000;
        font-weight: 500;
        border: none;
        letter-spacing: 2px;
    }
}

@media screen and (max-width: 768px) {
    .hero-swiper {
        height: 80vh;
    }

    .herosec-wrapper {
        height: 80vh;
    }

    .herosec-btn {
        margin-top: 20px;
    }
}

@media screen and (max-width: 640px) {
    .hero-swiper {
        height: 60vh;
    }

    .herosec-wrapper {
        height: 60vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .herosec-p {
        font-size: 12px;
    }

    .herosec-h1 {
        font-size: 2em;
    }

    .hero-content {
        margin-bottom: 30%;
    }

    .herosec-btn {
        padding: 8px 25px;
        color: white;
        background-color: #000;
        font-weight: 400;
        border: none;
        letter-spacing: 2px;
    }
}

@media screen and (max-width: 576px) {
    .herosec-p {
        font-size: 12px;
    }

    .herosec-h1 {
        font-size: 2em;
    }

    .herosec-btn {
        padding: 8px 25px;
        margin-top: 30px;
        color: white;
        background-color: #000;
        font-weight: 400;
        border: none;
        letter-spacing: 2px;
    }

    .hero-text{
        width: 60%;
    }
}

@media screen and (max-width: 461px) {
    .hero-text{
        width: 60%;
    }
}

@media screen and (max-width: 400px) {
    .herosec-p {
        font-size: 12px;
    }

    .herosec-h1 {
        font-size: 20px;
    }

    .herosec-btn {
        padding: 5px 15px;
        margin-top: 20px;
        color: white;
        background-color: #000;
        font-weight: 400;
        border: none;
        letter-spacing: 2px;
    }

    .hero-text{
        top: 40%;
        width: 60%;
    }
}

@media screen and (max-width: 350px) {
    .hero-text{
        top: 45%;
        width: 60%;
    }
}