.latest-collections__wrapper {
    padding: 150px 0;
    background-color: #F2F2F2
}

.card-wrapper {
    width: 100%;
    padding: 20px;
}

.card {
    position: relative;
    margin: 20px 0;
    overflow: hidden;
    width: 100%;
    height: 450px;

}

.card img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}

.card-body {

    padding: 50px;
}

.card-content {
    text-align: center;
    padding: 15px 0;
    background-color: #fff;

}

.card-button {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    border: 0;
    cursor: pointer;
    transition: bottom 0.5s ease-out;
    background-color: #000;
    font-weight: 700;
    font-size: 12px;
    padding: 15px 20px;
    border: none;
    letter-spacing: 2px;
}

.card:hover .card-button {
    bottom: 50%;
}

.card-button:hover {
    background-color: #b0976d;
    transition: all 0.5s;
    border: none;
}

.card-appelation {
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.add-button {
    color: white;
    background-color: #000;
    font-weight: 700;
    font-size: 12px;
    padding: 15px 40px;
    border: none;
    letter-spacing: 2px;
    width: 80%;
}

.add-button:hover {
    background-color: #b0976d;
    transition: all 0.5s;
    border: none;
}

.feature-fav__btn {
    position: absolute;
    right: 10px;
    top: 10px;
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border: none;
    transition: 0.3s ease;
}

.feature-fav__btn:active {
    transform: scale(1.2);
}

.feature-fav__btn:hover {
    color: white;
    background-color: #b0976d;

}

@media screen and (max-width:1200px) {
    .card-link{
        font-size: 16px;
    }
}

@media screen and (max-width:600px) {
    .card-wrapper{
        width: 80%;
        margin: auto;
    }
}

@media screen and (max-width:400px) {
    .card-wrapper{
        width: 85%;
        margin: 0 auto;
    }
}