.shipping-top {
    width: 100%;
    height: 40vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8%;
}

.shipping-wrapper {
    width: 60%;
    margin: 50px auto 100px auto;

}

.shipping-top__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center
}



.shipping-article {
    margin: 30px 0 60px 0;
}

.shipping-h2 {
    font-size: 34px;
    margin-bottom: 10px;
}

.shipping-p {
    line-height: 2;
}

.shipping-heading {
    font-weight: 700;
    margin-bottom: 30px;
}

@media screen and (max-width: 1200px) {
    .shipping-top {
        padding-top: 13%;

    }
}

@media screen and (max-width: 992px) {
    .shipping-top {
        padding-top: 10%;

    }

    .shipping-wrapper {
        width: 70%;
    }
}

@media screen and (max-width: 800px) {
    .shipping-wrapper {
        width: 90%;
    }

    .shipping-top {
        padding-top: 15%;
    }
}

@media screen and (max-width: 700px) {
    .shipping-wrapper {
        width: 95%;
    }

    .shipping-top {
        padding-top: 15%;

    }
}

@media screen and (max-width: 567px) {

    .shipping-nav {
        display: none;
    }

    .shipping-top {
        padding-top: 20%;

    }

    .shipping-wrapper {
        width: 90%;
    }

}

@media screen and (max-width: 400px) {

    .shipping-top {
        padding-top: 25%;
    }
}

@media screen and (max-width: 350px) {

    .shipping-top {
        margin-top: 22%;
    }
}